:root
  --color-k: #{$color-k}
  --color-ff: #{$color-ff}
  --color-primary-0: #{$color-primary-0}
  --color-primary-1: #{$color-primary-1}
  --color-primary-2: #{$color-primary-2}
  --color-primary-3: #{$color-primary-3}
  --color-secondary-1: #{$color-secondary-1}
  --color-secondary-2: #{$color-secondary-2}
  --color-secondary-3: #{$color-secondary-3}
  --color-tertiary-1: #{$color-tertiary-1}
  --color-tertiary-2: #{$color-tertiary-2}

  --border-radius: #{$border-radius}

html,body
  min-height: 100vh
  min-height: 100svh
  background-color: var(--color-primary-1)
  color: var(--color-secondary-1)
  font-size: 16px

  @media (min-height: 700px)
    font-size: 20px
