:root
  --color-k: #{$color-k}
  --color-ff: #{$color-ff}
  --color-primary-0: #{$color-primary-0}
  --color-primary-1: #{$color-primary-1}
  --color-primary-2: #{$color-primary-2}
  --color-primary-3: #{$color-primary-3}
  --color-secondary-1: #{$color-secondary-1}
  --color-secondary-2: #{$color-secondary-2}
  --color-secondary-3: #{$color-secondary-3}
  --color-tertiary-1: #{$color-tertiary-1}
  --color-tertiary-2: #{$color-tertiary-2}
  --color-error-0: #{$color-error-0}
  --color-error-1: #{$color-error-1}
  --color-error-2: #{$color-error-2}
  --color-error-3: #{$color-error-3}

  --color-primary-2-alpha-0: #{$color-primary-2-alpha-0}

  @for $i from 1 through length($colors-animal)
    --color-animal-#{$i}: #{nth($colors-animal, $i)}

  @for $i from 1 through length($colors-plant)
    --color-plant-#{$i}: #{nth($colors-plant, $i)}

  --border-radius: #{$border-radius}

html,body
  min-height: 100vh
  min-height: 100svh
  background-color: var(--color-primary-1)
  color: var(--color-secondary-1)
  font-size: 16px
  overflow: hidden

  &::-webkit-scrollbar
    display: none

  @media (min-height: 620px) and (min-width: 1250px)
    font-size: 18px

  @media (min-height: 700px) and (min-width: 1280px)
    font-size: 20px

  @media (min-height: 700px) and (min-width: 1500px)
    font-size: 22px

  @media (min-height: 775px) and (min-width: 1700px)
    font-size: 24px

  @media (max-width: $screen-sm), (max-height: 520px)
    font-size: 14px
