p
  margin-bottom: 0.75em

h1,h2,h3
  font-weight: bold
  margin-bottom: 0.5em

.title
  font-size: 3rem
  font-weight: bold
  line-height: 1.1
  margin-bottom: 0.5em

.label
  font-size: 0.625rem

.label-caps
  font-weight: bold
  font-size: 0.5rem
  letter-spacing: 0.05em
  text-transform: uppercase

.big-number
  font-size: 2em

.uppercase
  text-transform: uppercase
.lowercase
  text-transform: lowercase
.capitalize
  text-transform: capitalize
.transform-none
  text-transform: none

strong, b, .bold
  font-weight: 600

.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right
